@using Telerik.Web.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/jquery-ui-1.8.1.custom/css/ui-lightness/jquery-ui-1.8.1.custom.css")"
        rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.1.custom/js/jquery-ui-1.8.1.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    


</head>

<body>
    @Html.Telerik().StyleSheetRegistrar().StyleSheets(stylesheets=>
    {
        stylesheets.Add("2012.3.1018/telerik.common.min.css");
        stylesheets.Add("2012.3.1018/telerik.black.min.css");
    })
    
  <div id="wrapper">
        <div id="header">
            <div id="logo">
                <img src="@Url.Content("~/Content/Images/logo.gif")" height="69px" width="162px"  alt="Autopilot FMS" />
                
            </div>
            <!-- end div#logo -->
            <div id="menu">
                <ul>
                    <li class="first">
                       @Html.ActionLink("Client", "Index", "Client")
                    </li>              
                </ul>
            </div>
            <!-- end div#menu -->
        </div>
        <!-- end div#header -->
        <div id="page">
            <div id="content">
             @RenderBody()
            </div>          
            <div style="clear: both; height: 1px">
            </div>
        </div>
        <!-- end div#page -->
        <div id="footer">
            <p id="legal">
                Copyright &copy; 2011 Autopilot Fitness Marketing. All Rights Reserved.</p>           
        </div>
        <!-- end div#footer -->
    </div>
    @Html.Telerik().ScriptRegistrar().jQuery(false);
</body>
</html>
